/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header, section, footer {
    padding: 20px;
    text-align: center;
}

/* Header */
header {
    background: #005f73;
    color: #ffffff;
    padding: 40px 20px;
}

/* Secciones */
section {
    margin: 20px 0;
}

/* Estilos de la Sección de Interés */
#interest form {
    margin-top: 20px;
}

#interest input[type=email] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#interest input[type=submit] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007f5f;
    color: white;
    cursor: pointer;
}

#interest input[type=submit]:hover {
    background-color: #005f73;
}

/* Footer */
footer {
    background: #002855;
    color: #ffffff;
    padding: 10px 20px;
}
@media screen and (max-width: 768px) {
    header, section, footer {
        padding: 10px;
    }

    #interest form {
        display: flex;
        flex-direction: column;
    }

    #interest input[type=email], 
    #interest input[type=submit] {
        width: auto;
        margin: 10px 0;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body, button, input, textarea {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}


